.journal__main-content {
  display: flex;
}

.journal__sidebar {
  background-color: $dark-grey;
  color: $white;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.journal__sidebar-navbar {
  display: flex;
  justify-content: space-between;

  h3 {
    font-weight: $light;

    i {
      margin-right: 5px;
    }
  }
}

.journal__new-entry {
  @include flex-center();
  flex-direction: column;
  cursor: pointer;
  margin-top: 30px;
  width: 100%;
  transition: color .3s ease;

  &:hover {
    color: darken( $color: $white, $amount: 20 );
  }
}