.journal__main-content {
  display: flex;
}

.journal__sidebar {
  background-color: $dark-grey;
  color: $white;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
  height: 100vh;
  padding: 0 10px;
}

.journal__sidebar-navbar {
  display: flex;
  justify-content: space-between;

  h3 {
    font-weight: $light;

    i {
      margin-right: 5px;
    }
  }
}

.journal__new-entry {
  @include flex-center();
  flex-direction: column;
  cursor: pointer;
  margin-top: 30px;
  width: 100%;
  transition: color .3s ease;

  &:hover {
    color: darken( $color: $white, $amount: 20 );
  }
}

.journal__entries {
  flex: 1 1 auto;
  margin-top: 30px;
  overflow-y: scroll; 
  padding: 0 5px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $white;
    border-radius: 5px;
  }
}

.journal__entry {
  background-color: $white;
  border-radius: 4px;
  color: $dark-grey;
  cursor: pointer;
  display: grid;
  grid-template-columns: 75px 1fr;
  margin-bottom: 10px;
  overflow: hidden;

  .journal__entry-picture {
    min-width: 75px;
    min-height: 75px;
  }

  .journal__entry-content {
    display: flex;
    justify-content: space-between;

    .journal__entry-body {
      padding: 10px;
      
      .journal__entry-title {
        font-size: 14px;
        font-weight: $bold;  
      }
  
      .journal__entry-copy {
        font-size: 10px;
      }
    }
  
    .journal__entry-date-box {
      @include flex-center();
      flex-direction: column;
      padding: 5px;
  
      span {
        font-size: 12px;
      }
    }
  }
}
