* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
}

html, body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
}

.mt-1 {
  margin-top: 5px;
}

.mt-4 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-4 {
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}