// Flex Center
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Flex Center Vertical
@mixin flex-center-vertical {
	display: flex;
  align-items: center;
}

// Flex Center Horizontal
@mixin flex-center-horizontal {
	display: flex;
  justify-content: center;
}
